:root {
  box-sizing: border-box;
}

/** Board */
.board {
  border: 2px solid darkorange;
  max-width: 900px;
  max-height: 900px;
  min-height: 320px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.row {
  border: 2px solid green;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 300px;
  width: 100%;
}

.markbox {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid red;
}

/** Results */
.results {
  min-width: 200px;
  min-height: 200px;
  border: 2px solid yellow;
  
}